h1, h2 {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: #707070;

}

a {
  text-decoration: none;
  color: #eac6c6;
}

li {
  display: inline;
  padding: 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  margin: 0px;
  color: #333333;
  font-family: "Raleway";
}

nav {
  text-align: center;
  padding: 6px 0;
  background: #dcd6d633;
}

.column {
  margin: 0 12px;
  padding: 0 12px;
  flex: 1;
  border: 3px double #eac6c6;
  border-radius: 6px;
}

.row {
  display: flex;

}
 h2 {

 }

ul {
  padding: 0;
}

a:hover {
  color: #707070;
}

.profile_image {
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 50%;
  height: 59px;
  width: 59px;
  border: 3px solid #eac6c6;
}
